<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="ProfileAttrs == undefined">
    <img src="../../assets/icon/GD.gif" />
  </div>
  <ion-grid *ngIf="ProfileAttrs != undefined">
    <ion-row>
      <ion-col col-4>
        <img src="../../assets/icon/dummy.png" />
      </ion-col>
      <ion-col col-8 class="center-align">
        <h4>{{UserInfo.name}}</h4>
        <b>{{UserInfo.designation}}</b>
      </ion-col>      
    </ion-row>
    <ion-row>
      <ion-col col-5 class="profile-labels">Organization : </ion-col>
      <ion-col col-7>
        {{UserInfo.organization}}
      </ion-col>      
    </ion-row>  
    <ion-row>
      <ion-col col-5 class="profile-labels">Work Location : </ion-col>
      <ion-col col-7>
        {{UserInfo.location}}
      </ion-col>      
    </ion-row>            
  </ion-grid>
</ion-content>